<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete post</title>
</head>
<body>
    <h2>You want to delete this id : <%= user.id %></h2>
    <form method="post" action="/user/<%= user.id %>?_method=DELETE">
        <input type="password" name="password" placeholder="enter password">
        <input type="text" name="email" placeholder="enter email">
        <button>Delete</button>
    </form>
</body>
</html>